<a href="https://colab.research.google.com/github/Dhakcin-123/Revision-dic-loops-condi-list-/blob/main/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
person = {
    "name":"John",
    "Age":37,
    "city":"Beijing"
}

print(person["name"])

John

In [6]:
del person["city"]
print(person)

{'name': 'John', 'Age': 37}

In [7]:
fruits = ["strawberry", "Watermelon","Apple"]
print(fruits)

['strawberry', 'Watermelon', 'Apple']

In [10]:
fruits.append("Mango")
print(fruits)

['strawberry', 'Watermelon', 'Apple', 'Mango']

In [12]:
fruits.remove("strawberry")
print(fruits)

['Watermelon', 'Apple', 'Mango']

In [14]:
num = [1,2,3,4,5]

for i in num :
  print(i)

1
2
3
4
5

In [17]:
for key,value in person.items() :
  print(key,value)

name John
Age 37

In [25]:
a = [1,2,3,4,5]

for i in a :
  if i%2!=0 :
    print(i)

1
3
5

In [27]:
a = int(input("What is your age: "))

if a>18:
  print("You are an adult")
else:
  print("You are not an adult")

What is your age: 14
You are not an adult

In [29]:
l = int(input("Enter a number: "))

if l%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 9
odd

In [41]:
s = {
    "s1":{"Name":"Max",
          "Age":15,
          "Marks":[87,79,90]},
    "s2":{"Name":"Tom",
          "Age":18,
          "Marks":[54,36,100]},
    "s3":{"Name":"Paul",
          "Age":25,
          "Marks":[100,0,100]}
}

print(s)
for key,value in s.items():
  n = value["Name"]
  m = value["Marks"]
  am = sum(m)/len(m)
  print(n,". He has got ",m," marks and his average is",am)
  if am>70:
    print(n,"has passed the exam.")
  else:
    print(n,"has failed the exam.")

{'s1': {'Name': 'Max', 'Age': 15, 'Marks': [87, 79, 90]}, 's2': {'Name': 'Tom', 'Age': 18, 'Marks': [54, 36, 100]}, 's3': {'Name': 'Paul', 'Age': 25, 'Marks': [100, 0, 100]}}
Max . He has got  [87, 79, 90]  marks and his average is 85.33333333333333
Max has passed the exam.
Tom . He has got  [54, 36, 100]  marks and his average is 63.333333333333336
Tom has failed the exam.
Paul . He has got  [100, 0, 100]  marks and his average is 66.66666666666667
Paul has failed the exam.